open_clip_torch
coca-pytorch
vit-pytorch
byol-pytorch
fuzzywuzzy[speedup]
x-clip
webdataset>=0.2.5
regex
ftfy
tqdm
pandas<=1.4.0
braceexpand
huggingface_hub
tensorboard
timm
wandb
scipy
scikit-learn
seaborn
nltk
git+https://github.com/modestyachts/ImageNetV2_pytorch