certifi
charset-normalizer
cmake
filelock
fsspec
ftfy
huggingface-hub
idna
Jinja2
lit
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
pandas
pillow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scipy
six
sympy
tokenizers
torch
torchvision
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
wcwidth
